@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --text-color: #ffffff;
  --bg-url: url(./assets/assets/bg-mobile-main-dark.jpg);
  --tag-color: url(./assets/assets/tag-anttonio-white.svg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.5);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/assets/moon-stars.svg);
}

.light {
  --text-color: #000000;
  --bg-url: url(./assets/assets/bg-mobile-main-light.jpg);
  --tag-color: url(./assets/assets/tag-anttonio-dark.svg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/* Container */

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0;
  padding: 0 24px;
}

/* Profile */

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  margin: auto;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Switch */
#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch button {
  width: 32px;
  height: 32px;
  background: #ffffff var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4);
  transition: background 0.2s;

  font-weight: 500;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--);
}

/* social links*/

#social-links {
  display: flex;
  justify-content: center;

  padding: 24px;

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  border-radius: 50%;
  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}

/* tag anttonio */

.tag-logo {
  display: inline-block;
  width: 18px;
  height: 11px;
  background-image: var(--tag-color);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}
